@if (formControlInst()) {
<p-password
  [formControlName]="controlName()!"
  [placeholder]="field().placeholder || 'Enter password'"
  [toggleMask]="true"
  [feedback]="false"
  styleClass="w-full"
  inputStyleClass="w-full"
>
</p-password>
} @else if (controlName()) {
  <p-password
  [formControlName]="controlName()!"
  [placeholder]="field().placeholder || 'Enter password'"
  [toggleMask]="true"
  [feedback]="false"
  styleClass="w-full"
  inputStyleClass="w-full"
>
</p-password>
} @else {
  <p-password
  [formControlName]="controlName()!"
  [placeholder]="field().placeholder || 'Enter password'"
  [toggleMask]="true"
  [feedback]="false"
  styleClass="w-full"
  inputStyleClass="w-full"
>
</p-password>
}
