.page-tabs-container {
  width: 100%;
  padding: 1rem;
  background: var(--surface-ground);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-tabview-nav {
  background: transparent;
}

:host ::ng-deep .p-tabview-title {
  font-weight: 500;
}
